<div class="list-panel">
    <!-- Header -->
    <div class="panel-heading">
        <div class="list-title">
            <h3 ng-hide="editList" class="panel-title" ng-bind="list.title"></h3>
            <form class="list-title-form" ng-show="editList" ng-submit="editList = false">
                <input class="list-title-input" ng-model="list.title">
            </form>
        </div>
        <div class="list-buttons" ng-hide="editList">
            <a class="list-button-edit" href="#" ng-click="editList = true" aria-label="Edit list">
                <span class="list-icon-edit" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <!-- Details -->
    <div class="panel-body">
        <!-- Progress -->
        <uib-progressbar class="list-progress" value="list.tasks.completed" max="list.tasks.length">
            {{list.tasks.completed}} / {{list.tasks.length}}
        </uib-progressbar>
    </div>
    <!-- Task items -->
    <task-list list="list"></task-list>
</div>