@import '../base';

.task-list-items {
  @include tb-table(hover);

  tr > td {
    vertical-align: middle;
    width: 100%;

    &:first-child,
    &:last-child {
      width: auto;
    }

    &:first-child {
      padding-right: 0;
    }
  }

  .column-action {
    cursor: pointer;
  }

  //.column {
  //  vertical-align: middle;
  //
  //  &-name {
  //    width: 100%;
  //  }
  //}

  //.column-check,
  //.column-name {
  //  vertical-align: middle;
  //}
  //
  //.column-submit
  //.column-check {
  //  padding-right: 0;
  //
  //  .task-button-new {
  //    float: right;
  //  }
  //}
  //
  //.column-name {
  //  width: 100%;
  //}

  .task-completed {
    color: $gray-light;
    text-decoration: line-through;
  }

  tr {

    .task-form {
      .task-input {
        @include transparent;
      }
    }

    .task-completion {
      @extend .checkbox;
      margin: 0 0 0 4px;
    }
  }
}
