@import 'mixins';
@import 'variables';
@import 'bourbon';

.task-list {
  @include tb-panel;

  @include glyphicon('edit');
  @include glyphicon('save', 'ok');
  @include glyphicon('new', 'plus');

  @include tb-button-small('edit');
  @include tb-button-small('save');
  @include tb-button-small('new', 'link');

  &-button-new {
    color: $text-color;
    line-height: 1;
    padding: 5px;
  }

  &-heading {
    @include tb-panel-heading;
    @include display(flex);
    @include align-items(center);

    padding: 5px;

    &-title-wrapper {
      height: auto;
      padding-left: 10px;
    }

    &-buttons {
      margin-left: auto;
    }

  }

  &-details {
    @include tb-panel-body;
  }

  &-progress {
    margin: 0;
  }

  &-items {
    @include tb-table(hover);
  }

  .task-list-items {
    @extend .table;
    @extend .table-hover;

    .column-check,
    .column-name {
      vertical-align: middle;
    }

    .column-check {
      padding-right: 0;

      .task-button-new {
        float: right;
      }
    }

    .column-name {
      width: 100%;
    }

    .task-completed {
      color: $gray-light;
      text-decoration: line-through;
    }

    tr {

      .task-form {
        .task-input {
          @include transparent;
        }
      }

      .task-completion {
        @extend .checkbox;
        margin: 0 0 0 4px;
      }
    }
  }
}
