<div class="task-list-panel">
    <!-- Header -->
    <div class="task-list-heading">
        <div class="task-list-title">
            <h3 class="panel-title" ng-bind="list.title"></h3>
        </div>
        <div class="task-list-buttons">
            <a class="task-edit-button" href="#" role="button" aria-label="Edit">
                <span class="task-edit-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <!-- Description -->
        <div class="task-list-description">
            {{ list.tasks.completed }} / {{ list.tasks.length }} completed
        </div>
        <!-- Progress -->
        <div class="task-list-progress">
            <uib-progressbar value="list.tasks.completed" max="list.tasks.length">
                {{list.tasks.completed}} / {{list.tasks.length}}
            </uib-progressbar>
        </div>
    </div>
    <!-- Task items -->
    <div class="task-list">
        <a href="#" class="task-list-item" ng-repeat="task in list.tasks">
            <div class="task-completion">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."
                           ng-checked="task.completed" ng-click="toggle(task)">
                </label>
            </div>
            <div class="task-name">
                <span>{{ task.name }}</span>
            </div>
        </a>
    </div>
</div>