<div class="task-list">
    <table class="task-list-items">
        <tbody>
        <tr>
            <td class="column-check">
                <a class="list-button-new" href="#" ng-click="addTask()" aria-label="New task">
                    <span class="list-icon-new" aria-hidden="true"></span>
                </a>
            </td>
            <td class="column-name">
                <form class="task-form" ng-submit="addTask()">
                    <input class="task-input" ng-model="name" placeholder="New task...">
                </form>
            </td>
        </tr>
        <tr ng-repeat="task in list.tasks" ng-click="toggle(task)">
            <td class="column-check">
                <div class="task-completion">
                    <label>
                        <input type="checkbox" ng-checked="task.completed" aria-label="Completion"/>
                    </label>
                </div>
            </td>
            <td class="column-name">
                <div ng-class="{'task-completed': task.completed}">
                    <span class="task-name">{{ task.name }}</span>
                </div>
            </td>

            <td class="column-action">
                <a class="list-button-delete" href="#" ng-click="removeTask(task)" aria-label="Remove task">
                    <span class="list-icon-delete" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>